/* ---------------------------------- header ---------------------------------- */
header {
  background-color: #154746;
  color: white;
  padding: 50px 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end; 
  background-color: #154746;
  padding: 10px 30px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 80px;
  top: 100px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.main-nav a:hover {
  color: #ae863c;
  text-decoration: underline;
}

.logo {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.logo img {
  height: 60px;
}

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

nav a:hover {
  text-decoration: none;
  color: #ae863c;
}

.admin-icon {
  position: absolute;
  top: 90px;
  left: 50px;
  font-size: 24px;
  color: white;
}

.admin-icon:hover {
    color: #ae863c;
}

.admin-icon a {
  color: #ae863c;
  text-decoration: none;
}

/* --------------------------------- loginPage -------------------------------- */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  direction: rtl; /* مهم للعربية */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logtitle {
  text-align: center;
  margin-top: 20px;
  color: #154746;
}

.logform {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
  margin-top: -350px;
}

.loglabels {
  display: block;
  margin-top: 10px;
}

.loginputs {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.buttons {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #154746;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.buttons:hover {
  background-color: #346463;
}
